
.App {
  text-align: center;
}

body{
  width: 100vw;
  overflow-x: hidden;
}
.header{
  display: flex;
  width: 100vw;
  height:15vh;
  background-color:black;
  justify-content: space-around;
  align-items: center;
  position:sticky;
  top:0;
  z-index: 1;
}

.logo a{
  font-family: 'Galada', cursive;
  color:pink;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 2rem;
}

.check_p{
  width:20%
}
a{
  color: darkslategrey;
}
button:hover{
  cursor: pointer;
  color: darkviolet;
}

/* styling for MenuModal */

.menu_container{

  width:100vw;
  height:100vh;
 position: absolute;
 top:100%;
 
}
.modal_inner_container{
  height: 100%;
  width: 50vw;
  background-color:rgb(0,0,0,.9);
  
  display:flex;
  flex-direction: column;
 animation-name: slideOut;
 
 animation-duration: 1.5s;
}



/* animaltion for inner container */
@keyframes slideOut{
  from{transform: translateX(-500px);}
  to{transform: translateX(0);}
}

@keyframes remove{
  from{transform:translateX(0)}
  to{transform:translateX(-500px)}
}



.menu_items{
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.menu_items p{
  display: block;
  padding:2rem;
  color:white;
}


.menu_items a{
text-decoration: none;
}

.menu_items a:hover{
  border:1.5px solid lightpink
}




.modal_inner_container button{
  background-color:rgb(0,0,0,.2);
  color: white;
  border: none;
}




/* styling images in home page */
.home_div{
  background-color:white;
}
.home_div img{
  width:100%;
}
.home_back_container{
 background-color: black;
  height:60vh;
  
  
}
.main_background_pic{
  width:100%;
  max-height: 100%;
 
  animation: home 6s infinite alternate forwards ;
  z-index: 0;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  
}
.main_background_pic h1{
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  letter-spacing:.5rem;
  color:black;
  
}

@keyframes home{
  0%{
     opacity:0;
     transform: scale(1);
  }
  100%{
   opacity: 1;
   transform:scale(.95)
  }
}
.home_div h1{
  margin-top:0;
}
.home_div p{
 font-family: 'Bad Script', cursive;
 
 font-size: 50px;
}

.services{
  width:100%;
  height:80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 3rem;
  
}
.services p{
  font-family: Marvel;
  font-size: 3rem;
  display: flex;
  justify-content:flex-start;
  font-weight: bold;
}
.wig_laying_container,.eye_lashes_container{
  height:100%;
  width:45%;
  
}
.wig_laying_pic{
  background-image:url('./image/happy-hair.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}
.eye_lashes_pic{
  background-image:url('./image/wig1.jpg');
  background-size: cover;
  background-position: center;
  height:100%;
}
.wig_laying_pic,.eye_lashes_pic{
  height:70%;
  
  width:100%;
  transition: transform ease-in .250s ;
  margin-bottom: 1.5rem;
}
.wig_laying_pic:hover{
  background-image: url('./image/happy-hair.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform:scale(1.1);
  cursor: pointer;
}
.eye_lashes_pic:hover{
  background-image: url('./image/hair-thumbnail.jpg');
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  

}

.wig_laying_container p,.eye_lashes_container p{
  font-size: 1.2rem;
  margin:0;
}

.service_pic2{
  display: flex;
  margin-top:2rem;
  width: 100%;
  height:130vh;
  background-image: url('./image/blackgirl.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 5s;
  align-items: flex-start;
  

  animation: morph 10s ease-in-out 0s infinite alternate-reverse forwards;

}

@keyframes morph{
  0%{ 
    background-image: url('./image/morph1.jpg');
     background-size: cover;
    background-position: center; }
  50%{background-image: url('./image/morph2.jpg');
    background-size: cover;
    background-position: center;
  }
  100%{background-image: url('./image/hair-backview.jpg');
    background-size: cover;
    background-position: center;
  }

}


.main_background_pic{
  width: 100%;
  height: 100vh;
  background-image:url('./image/flower.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
.browse a{
  font-family: 'Bowlby One SC', cursive;
}
.browse{
  
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;




}
.browse_link{
  text-decoration: none;
  color: black

}
/* styling modal button */
.menu_button{
  height: 2rem;
  background-color:rgb(0,0,0,.2);
  margin-top: 0;
  margin-bottom: 0;
}
.menu_button:hover{
  cursor: pointer;
  border: 1.5px solid lightpink;
 
}


/* styling header */
.header p{
  margin:0
}

.header_cart_div{
  width: 5rem;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_cart{
  height:70%;
  width:50%;
  
}
.header_cart_items{
  position: absolute;
  top:.5rem;
  left: 2.5rem;
  color:lightpink;
  background-color:rgb(0,0,0,0);
  border-radius: 10%;
  
}
.header_menu_button{
  color:lightpink;
  width: 2rem;
  height: 2rem;
}
.header_menu_button:hover{
  transition: 2s;
  
  transform:rotate(360deg);
}


/* styling the about component */
.about_container{
  width: 100%;
  

}
.about_top,.about_middle{
  display: flex;
  height:100vh;
}
.about_middle{
  flex-direction: row-reverse;
}
.about_img,.about_text{
  width: 50%;
  height:100%;
}
.about_container img{
  width: 100%;
  height: 100%
}
.about_text {
  font-family:Marvel;
}
.about_text p{
  font-size:2rem ;
  
}
.about_bottom{
  background-color: white;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.about_bottom h2{
  font-family: marvel;
  letter-spacing: 2rem;

}
  /* styling shopping component */
  
  .shop{
    background-color:white;
    min-height:80vh;
    font-family: 'Marvel', sans-serif;
    padding-top: 1%;
    color:black;
    font-size: 1.5rem;
    overflow-x: auto;
  }
  .shop_items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:100vh;
    overflow: auto;
    
    
  }
.shop_items{
  height: 35rem;
  width:22rem;
  font-size: 1em;
  padding: 0;
  margin-top: .3%;
  
}
  .shop_items img{
    margin:0;
    margin-bottom:0;
    display:block;
    width: 100%;
    height:70%;
    border-radius: 7px;
    transition: .3s;
  }
  .shop_items img:hover{
    opacity:.8;
    cursor: pointer;
  }
  .shop_items p{
    
    margin-top:0;
    margin-bottom:0;
  }

  .shop_search{
    display: block;
    margin: 2rem auto;
    margin-top:0;
    width: 30%;
    height:2.5rem;
    border-radius: 5px;
    border:2px solid black;
    
  }

.add_to_cart{
  transition: .500s;
  background-color:white;
  color: black;
  transition:  .5s ;
  font-size: 2rem;
  width:100%;

}

.add_to_cart:hover{
 cursor: pointer;
 transform:scale(1.2);
 border:2px solid black;
 color:palevioletred;
 
}
.shop_name{
  font-family: Marverl;
  font-weight: bold;
  letter-spacing: 1rem;
}


  /* checkout */
  .checkout{
    width: 100vw;
    min-height: 70vh;
    height:100%;
    display:flex;
    justify-content:space-between;
    overflow-y: auto;
    
  }

  .selected_items_list{
    display:flex;
    overflow-y: auto ;
    flex-direction: column;
    justify-content: stretch;
    justify-content: center;
    width:70%;
    border-bottom:1px solid pink;
    
    
  }

  .selected_items_list p{
    display: inline-block;

  }
  .selected_items_list img{
    width:3em;
    height:3em;
  }

  .selected_items_each{
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

.checkout_container{
  position:relative;
  width: 100vw;
  height: 80vh;
  display: flex;
 flex-direction: column;
  justify-content: space-evenly;
}
 
.shopping_cancel_div{
 
  display: flex;
  justify-content: center space-between;
  align-items: center;
   
}
.shopping_cancel_div img{
  height:10rem;
  width:10rem;
}
.shopping_cancel_div p{
  color:lightpink;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.check_p{
  font-size: 1.5rem;


}

.shopping_cancel{
margin:0;
padding:0;
font-weight: bold;
margin:auto auto;
cursor: pointer;

}
  
.shopping_cancel:hover{
  color: red;
}


  .shopping_payment{
    position:relative;
    width:25%;
    border: 1px solid darkcyan;
    border-radius:5px;
    height:35rem;
    overflow: auto;
    
  }

  .total{
    display: flex;
    margin-left: 1rem;
  
    
  }
  
  .shopping_cancel_div{
    width:auto ;
  }

  .shopping_cancel{
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }

.empty_cart{
  height:80vh;
  font-family: Marvel;
  font-size: 4rem;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


  /* shopping item */

  .shopitem_container{
    column-count: 2;
   height:auto;
   text-align: center;
   background-color: white;
    font-size: 1.3rem;
    
  }

  .shoppingitem_image_div{
    width:100%;
    height: 100%;


  }

  .shopitem_container img{
    width: 100%;
    height:100vh;

  }

  .shoppingcheckout_div{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    padding-top:15%;
     width:100%;
     height: 100%;
     background-color:white;
     font-family: 'Marvel', sans-serif;
  }
  

  
  .shoppingcart_inputs input{
    width:3rem;
    height:3rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    
  }
  .shoppingcart_inputs button {
    
    height:3.38rem;
    
    background-color:white;
    border:none;

    
  }
  .shoppingcart_inputs{
    display: inline-block;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .shoppingcart_inputs button:hover{
    color:green;
  }
  .shoppingcheckout_div button{
    height: 3.38rem;
    width: 60%;
    margin:0 auto;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    
    
  }

.shopitem_checkout{
  margin-left: 0;
  font-family: 'Marvel', sans-serif;
  background-color:white;
  color:black;
  font-size: 1.5rem;
  border: .5px solid lightpink;
  transition:.2s;
}
.shopitem_checkout:hover{
 cursor: pointer;
 border:1px solid black;
 transform: scale(1.1);
 color:black;
}
.next_icon{
  height:4rem;
  width: 4rem;
  transition:.2s

}
.next_icon:hover{
  cursor: pointer;
  color: lightpink;
  transform: scale(1.1);
}
span{
  font-weight: bold;
}
  /* styling the footer */

  .footer{
    width: 100%;
    display:flex;
    justify-content: space-around;
    height: 10vh;
    font-size: 1.5rem;
    align-items: center;
    position: sticky;
    background-color: black;
    color:lightpink;
    font-family: 'Marvel', sans-serif;


  }


  /* checkout form */
 

 .checkout_form_form{
  padding-top:1rem;
  padding-bottom: 1rem;
   opacity: 1;
   width:100%;
   height: auto;
   background-color:white;
    border-radius:1.3rem ;
    font-weight: bold;
    color: darkslategray;
    font-family: 'Marvel', sans-serif;
 }

 .total{
  font-family: 'Marvel', sans-serif;
  font-weight: bold;
  font-size:2rem;
  color:black;
 }
 .checkout_form_form input{
  
  width: 70%;
  border-radius: .01rem;
  margin-bottom: .5rem;
  height: 2rem;

} 

.checkout_form_form button{
  height:3rem;
  width: 4rem;
  margin-left: .67rem;
  background-color: black;
  color:white;
  
}
.checkout_form_form button:hover{
  color:lightpink;
}

/* styling FAQ */

.ques{
  display: inline-block;
  width:20%;
  margin-bottom:0;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  
}
     
.faq_container{
  font-family: 'Marvel', sans-serif;
  height: auto;
  font-size: 1.4rem;
  height:80vh;
}
.faq_container button{
  width: 3rem;
  height:3rem;
  margin-right:1rem;
  font-weight: bold;
  transition:.5s;
  font-size:2rem;
  border-radius: .2rem;
}

.faq_container button:hover{
  transform:rotate(9deg);
  
  color: black;
}
.faq_ans{
  display: inline-block;
  width:20%;
  transition: opacity ease-in .5s  ;
  margin-top: .5rem;
  margin-bottom: 0;
  opacity:0;
}



/* styling error page */
.errpage{
  background-color: lightpink;
  height: 80vh;
  text-align: center;
  padding:auto auto;

  
}

.errpage h1{
  font-size: 10rem;
  color: cadetblue;
  margin-top:0;
}

.errpage h2, .errpage p{
  color: darkslategrey;
}
/* Media queries for 900px and less in width  for chekout and item detail components */

@media(max-width:1000px){
  .checkout{
    display:flex;
    flex-direction: column;
    
  }
  .checkout div{
    width: 100%;
  }
.selected_items_list{
   display:block;
}
.shopping_cancel_div{
  display:inline;
  


}
.shopping_payment{
  height: auto;
}
.selected_items_each{
  display:block;
  margin-right: 1rem;
}
.selected_items_each p,.selected_items_each img{
  margin-right:1rem;
  margin-left: 1rem;
}
.check_p{
  margin-right:1rem;
  margin-right:1rem;
}

.selected_items_each p{
  margin-bottom: 0;
}

/* styling description page*/
.shopitem_container{
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.shopitem_checkout{
  margin-top: 3%;
}
.shoppingcheckout_div button{
  margin-bottom: 3%;
}

}

@media(max-width:768px){
  .check_p{
    font-size: 1rem;
    width:4rem;
    
  }
  .shopping_cancel_div{
    max-width: 30%;
    width:30%;
    display: flex;
  
  }
  .shopping_cancel_div img{
    width:6rem;
    height:6rem;

  }
  
  .selected_items_each{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shopping_cancel{
   padding-bottom: 2rem;
  }
  .checkout{
    margin-top: 1rem;
  }
}

@media(max-width:768px){
  .about_container{
    width:90vw;
  }

  .selected_items_each img{
     display: none;
   }
   .shopping_cancel{
     padding-top:40%;
   }
.logo_div a{
  font-size:1rem;
  letter-spacing: .5rem;
}

.main_background_pic h1{
  font-size: 1.5rem;
  color:black;
}
.about_top,.about_text,.about_img{
  width: 100%;
}
.about_text h2,.about_text p {
  font-size: 1.5rem;
}
.about_top,.about_middle{
  display: flex;
  flex-direction: column;
  padding-left:1rem;

}
.about_top{
  height:65%;
}

.about_bottom h2{
  font-size: 1rem;
  letter-spacing: .5rem;
}
.browse_link{
  font-size: 2rem;
}
.services{
  flex-direction: column;
}
.eye_lashes_container,.wig_laying_container{
  width: 100%;
  
}
/* shop */
.shop_search{
  width:80%;
}

/* faq */
.ques{
  width:20rem;
}
.faq_ans{
  display: block;
  width:100%;
}
/* footer */
.footer{
  width: 100vw;
  font-size: 1.5rem;
}




}

